.err {
  border: 0px;
}

.entry-title {
  word-wrap: break-word;
}

.entry-content > ul,ol {
  margin: 20px;
}

.entry-content li {
  list-style-type: initial;
}

.entry-content pre {
  background-color: #f8f8f8;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.entry-content pre span.string {
  white-space: pre-line;
}

.entry-content .code {
  margin: 0px;
}
