html, body {
  color: #ccc;
  background-color: #121827;
  scroll-behavior: smooth;
}

ul, ol {
  padding: 0;
}
ul li, ol li {
  list-style-type: none;
}

a {
  --bs-link-color-rgb: unset !important;
  color: #3b82f6 !important;
  text-decoration: none;
  transition: color 0.2s;
}
a:hover {
  color: #ccc !important;
  font-weight: bold;
}

@container (max-width: 780px) {
  aside {
    display: none;
  }
}

footer {
  background-color: #0c111c;
  color: #ccc;
}

.row {
  container-type: inline-size;
}

.card {
  color: #ccc;
  position: relative;
  background-color: #1f2937;
  overflow: hidden;
}
.card-img-top {
  height: 250px;
}

.card-footer {
  position: relative;
  z-index: 2;
}
.card-footer ul {
  display: flex;
  justify-content: flex-end;
}

header {
  background-color: #0c111c;
}
header .py-6 {
  padding-top: 64px;
  padding-bottom: 64px;
}
header .logo a {
  font-size: 4em;
}
@media (max-width: 780px) {
  header .logo a {
    font-size: 2.5em;
  }
}

.post-content {
  color: #ccc;
}
.post-content .note {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #21262d;
  padding: 15px;
  line-height: 1.5;
  font-weight: bold;
  font-size: 16px;
  border-radius: 8px;
  margin: 20px 0;
  color: #ccc;
}
.post-content .note i {
  font-size: 1.38em;
  padding: 2px;
}
.post-content h4 {
  margin: 30px 0;
  font-size: 2.02em;
  font-weight: bold;
  border-bottom: 3px solid #4492ce;
  padding: 5px 0;
  color: #ccc;
}
.post-content p {
  margin: 30px 0;
  line-height: 2;
}
.post-content pre[class*=language-], .post-content code[class*=language-] {
  font-family: monospace;
  font-variant-numeric: tabular-nums;
}
.post-similarity fieldset {
  border: 1px solid #444;
}

.paginator {
  display: flex;
}
.paginator a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  color: #ccc;
  width: 150px;
  min-width: 40%;
  background-color: #1f2937;
  border-radius: 8px;
  transition: background-color 0.2s;
}
.paginator a:hover {
  background-color: #3b82f6;
}
.paginator a:last-child {
  margin-left: auto !important;
}

.top-elevator {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 30px;
  left: 30px;
  z-index: 9999;
  width: 56px;
  height: 56px;
  color: #000 !important;
}