html, body {
  height: 100%;
  overflow: auto;
  font-family: 'Noto Sans JP', sans-serif;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

ul {
  padding: 0px;
}

ul > li {
  list-style-type: none;
}

footer {
  margin-top: 50px;
}

span.categories {
  margin: 0px 10px 0px 0px;
}

.text-center {
  text-align: center;
}

.recent-post {

}

.card {
  border: none;
}

.about-icon {
  width: 100px;
  height: 100px;
}

.navbar-collapse {
  background: #607d8b;
}

.container-fluid {
  padding: 0px;
}

.container {
  padding: 0px;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;
  min-height: 100%;
}

.logo-header {
  padding: 70px 0px;
  background: #333;
}

.logo-header a {
  color: white;
  font-size: 2.34em;
}

.navbar-nav {
  padding: 20px;
}

.navbar .nav>li>a {
  text-shadow: none;
  color: white;
}

#content {
  margin-top: 10px;
}

#content .card-img-top {
  max-height: 250px;
  object-fit: cover;
}

.post {
  margin-left: 30px;
  word-wrap: break-word;
  width: 520px;
  margin: 30px;
  position: relative;
}

.post-date {
  margin: 10px 0px;
  font-size: 1.48em;
  font-weight: bold;
}

.post-date a {
  text-decoration: none;
}

.post-title {
  margin: 20px 0px;
  font-size: 1.98em;
  font-weight: bold;
  line-height: 110%;
}

.post-content {
  margin: 30px 0px;
  font-size: 1.12em;
}

.post-content h4 {
  margin: 30px 0px;
  font-size: 2.02em;
  border-bottom: 10px solid #4492ce;
  padding: 10px 0px;
}

.post-content p {
  margin: 20px 0 20px 0;
}

.post-content>.line-numbers {
  font-size: 15px;
}

.my-pagination {
  width: 100%;
  margin-top: 5em !important;
  display: flex;
}

.category {
  font-size: 1.23em;
}

.footer-content {
  padding: 20px;
  background-color: #333;
  text-align: center;
  color: white;
}

.box-link {
  width: 150px;
  min-width: 38%;
  padding: 20px;
  background-color: #607d8b;
  border: 1px solid #607d8b;
  color: white;
  text-align: center;
  justify-content: space-between;
}

.box-link.float-end {
  margin-left: auto;
}

#btn-back-to-top {
  position: fixed;
  bottom: 20px;
  left: 30px;
}

@media (max-width: 780px) {
  .logo-header a {
    font-size: 1.68em;
  }
  .row>.col-lg-8 {
    padding: 0px;
  }

  .sidebar {
    margin-top: 3em !important;
  }

  .box-link {
    margin-left: auto;
    margin-right: auto;
  }
}
