html, body {
  height: 100%;
  font-family: "Inter", "Noto Sans JP", sans-serif;
  background-color: #121827;
  color: #ccc;
}

ul, ol {
  padding: 0;
}
ul li, ol li {
  list-style-type: none;
}

a {
  --bs-link-color-rgb: unset !important;
  color: #3b82f6 !important;
  text-decoration: none;
  transition: color 0.2s;
}
a:hover {
  color: #ccc !important;
  font-weight: bold;
}

footer {
  margin-top: 50px;
  background: #18202b;
  color: #ccc;
  padding: 30px;
}

.py-6 {
  padding-top: 64px !important;
  padding-bottom: 64px !important;
}

header {
  background: #0c111c;
}
header .logo a {
  font-size: 4em;
}
@media (max-width: 780px) {
  header .logo a {
    font-size: 1.44em;
  }
}

.card {
  color: #ccc;
  background-color: #1f2a38;
}
.card-img-top {
  height: 250px;
}
.card-title a {
  font-size: 1.38em !important;
}

.post-categories {
  z-index: 2;
}
.post-content {
  color: #ccc;
}
.post-content .note {
  display: flex;
  gap: 10px;
  background-color: #333;
  padding: 15px;
  line-height: 1.5;
  font-weight: bold;
  font-size: 14px;
  border-radius: 8px;
  margin: 20px 0;
  color: #ccc;
}
.post-content .note i {
  font-size: 1.38em;
  padding: 2px;
}
.post-content h4 {
  margin: 30px 0;
  font-size: 2.02em;
  border-bottom: 3px solid #4492ce;
  padding: 5px 0;
  color: #ccc;
}
.post-content p {
  margin: 30px 0;
  line-height: 2;
}
.post-content mark {
  background-color: #5e81ac;
  color: #eceff4;
  padding: 0 0.2em;
  line-height: inherit;
  border-radius: 2px;
}
.post-content > .line-numbers {
  font-size: 14px;
}
.post-similarity fieldset {
  border: 1px solid #444;
}

.box-link {
  width: 150px;
  min-width: 40%;
  background-color: #1f2937;
  transition: background-color 0.2s;
  color: #ccc !important;
}
.box-link:hover {
  background-color: #3b82f6;
}