html, body {
  height: 100%;
  font-family: 'Noto Sans JP', sans-serif;
}

img {
  width: 100%;
  height: 100%;
}

ul {
  padding: 0px;
}

ol {
  padding: 0px;
}

li {
  list-style-type: none;
}

li > p {
  margin: 0px !important;
}

a {
  text-decoration: none;
}

footer {
  margin-top: 50px;
}

.navbar-collapse {
  background: #607d8b;
}

.navbar-nav {
  padding: 20px;
}

.navbar .nav>li>a {
  color: white;
}

.container-fluid {
  padding: 0px;
}

.logo-header {
  padding: 70px 0px;
  background: #333;
}

.logo-header a {
  color: white;
  font-size: 2.34em;
}

.container {
  padding: 0px;
}

#content :first-child {
  margin-top: 0px !important;
}

.card {
  border: none;
}

.card-img-top {
  max-height: 250px;
  object-fit: contain;
}

.post-date {
  margin: 10px 0px;
  font-size: 1.48em;
  font-weight: bold;
}

.post-title {
  margin: 20px 0px;
  font-size: 1.88em;
  font-weight: bold;
}

.post-category {
  margin: 0px 10px 0px 0px;
  font-size: 1.23em;
}

.post-content {
  margin: 40px 0px;
  font-size: 1.12em;
}

.post-content h4 {
  margin: 30px 0px;
  font-size: 2.02em;
  border-bottom: 8px solid #4492ce;
  padding: 5px 0px;
}

.post-content p {
  margin: 30px 0;
}

.post-content>.line-numbers {
  font-size: 14px;
}

.note {
  display: flex;
  gap: 10px;
  background-color: #ccf;
  padding: 15px;
  line-height: 1.5;
  font-weight: bold;
  font-size: 14px;
  border-radius: 8px;
  margin: 20px 0px;
}

.note > i {
  font-size: 1.38em;
  padding: 2px;
}

.post-similarity fieldset {
  border: 1px solid #dee2e6;
  padding: 1rem;
  border-radius: 0.25rem;
}

.related-link {
  background-color: #f8f9fa;
  transition: background-color 0.2s, color 0.2s;
}

.related-link:hover {
  background-color: #5dade2;
  color: #fff;
  text-decoration: none;
}

.my-pagination {
  display: flex;
}

.box-link {
  width: 150px;
  min-width: 40%;
  padding: 20px;
  background-color: #607d8b;
  color: white;
  text-align: center;
  align-content: center;
}

.box-link.float-end {
  margin-left: auto;
}

.footer-content {
  padding: 30px;
  background-color: #333;
  color: white;
}

@media (max-width: 780px) {
  .logo-header a {
    font-size: 1.68em;
  }
  .row>.col-lg-8 {
    padding: 0px;
  }

  .sidebar {
    margin-top: 3em !important;
  }

  .box-link {
    margin-left: auto;
    margin-right: auto;
  }
}
