html, body {
  height: 100%;
  font-family: 'Noto Sans JP', sans-serif;
  background-color: #121212;
  color: #e0e0e0;
}

img {
  width: 100%;
  height: 100%;
}

ul, ol {
  padding: 0px;
}

li {
  list-style-type: none;
}

li > p {
  margin: 0px !important;
}

a {
  text-decoration: none;
  color: #90caf9;
}

a:hover {
  color: #64b5f6;
}

footer {
  margin-top: 50px;
  background: #1f2937;
  color: #ccc;
}

.navbar-collapse {
  background: #1f2937;
}

.navbar-nav {
  padding: 20px;
}

.navbar .nav>li>a {
  color: #e0e0e0;
}

.container-fluid {
  padding: 0px;
}

.logo-header {
  padding: 70px 0px;
  background: #1f2937;
}

.logo-header a {
  color: #fff;
  font-size: 2.34em;
}

.container {
  padding: 0px;
}

#content :first-child {
  margin-top: 0px !important;
}

.card {
  background-color: #1f2937;
  color: #f9fafb;
  border-radius: 12px;
  overflow: hidden;
}

.card-img-top {
  width: 100%;
  height: 200px;
  object-fit: cover;
  background-color: #1f2937;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  display: block;
  margin-top: 10px;
}

.card-body {
  padding: 20px;
}

.card-body p {
  color: #e0e0e0;
  line-height: 1.5;
}

.card-title a {
  color: #f9fafb;
  text-decoration: none;
  font-size: 1.5em;
  font-weight: bold;
}

.card-title a:hover {
  color: #3b82f6;
  margin-bottom: 3rem;
}

.post-date {
  margin: 10px 0px;
  font-size: 1.48em;
  font-weight: bold;
  color: #90caf9;
}

.post-title {
  margin: 20px 0px;
  font-size: 1.88em;
  font-weight: bold;
  color: #fff;
}

.post-category {
  margin: 0px 10px 0px 0px;
  font-size: 1.23em;
  color: #64b5f6;
}

.post-content {
  margin: 40px 0px;
  font-size: 1.12em;
  color: #e0e0e0;
}

.post-content h4 {
  margin: 30px 0px;
  font-size: 2.02em;
  border-bottom: 8px solid #4492ce;
  padding: 5px 0px;
  color: #fff;
}

.post-content p {
  margin: 30px 0;
  line-height: 2;
}

.post-content mark {
  background-color: #5e81ac; 
  color: #eceff4;
  padding: 0 0.2em;
  line-height: inherit;
  border-radius: 2px;
}

.post-content>.line-numbers {
  font-size: 14px;
}

.note {
  display: flex;
  gap: 10px;
  background-color: #333;
  padding: 15px;
  line-height: 1.5;
  font-weight: bold;
  font-size: 14px;
  border-radius: 8px;
  margin: 20px 0px;
  color: #fff;
}

.note > i {
  font-size: 1.38em;
  padding: 2px;
}

.post-similarity fieldset {
  border: 1px solid #444;
  padding: 1rem;
  border-radius: 0.25rem;
}

.related-posts {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 30px 0;
}

.related-link {
  display: block;
  color: #eceff4;
  text-decoration: none;
}

.my-pagination {
  display: flex;
}

.my-pagination a {
  background-color: #1f2937;
  color: #f9fafb;
  padding: 10px 20px;
  border-radius: 8px;
  text-decoration: none;
  transition: background-color 0.2s;
}

.my-pagination a:hover {
  background-color: #3b82f6;
  color: #fff;
}

.box-link {
  width: 150px;
  min-width: 40%;
  padding: 20px;
  background-color: #1f1f1f;
  color: #fff;
  text-align: center;
  align-content: center;
  transition: background-color 0.2s;
}

.box-link:hover {
  background-color: #5dade2;
  color: #fff;
}

.box-link.float-end {
  margin-left: auto;
}

.footer-content {
  padding: 30px;
  background: #1f2937;
  color: #ccc;
}

@media (max-width: 780px) {
  .logo-header a {
    font-size: 1.68em;
  }
  .row>.col-lg-8 {
    padding: 0px;
  }

  .sidebar {
    margin-top: 3em !important;
  }

  .box-link {
    margin-left: auto;
    margin-right: auto;
  }
}
